<ul>
	<% resource_class.attribute_names.each do |attr| %>
		<li>
			<label><strong><%= resource_class.human_attribute_name(attr) %>:</strong></label>
			<span><%= resource.public_send(attr) %></span>
		</li>
	<% end %>
</ul>